In [4]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import gmaps
import json
from config import api_key
gmaps.configure(api_key=api_key)

In [6]:
# read the city_weather.csv to create dataframe, previous cells are not needed to be executed as long as cities.csv was created
city_weather_df = pd.read_csv("../WeatherPy/city_weather.csv")
city_weather_df.head()

,City,Temperature (F),Humidity (%),Cloud Coverage (%),Wind Speed (mph),Latitude,Longitude
0,Tuktoyaktuk,21.20,73,90,9.17,69.45,-133.04
1,Tevaitoa,83.97,74,0,17.07,-16.78,-151.50
2,Vaini,75.20,73,90,9.17,-21.20,-175.20
3,Inírida,76.80,85,44,1.83,3.87,-67.92
4,Mataura,55.99,77,66,15.01,-46.19,168.86

In [17]:
Refined_df = city_weather_df.loc[(city_weather_df["Temperature (F)"] > 70) & (city_weather_df["Temperature (F)"] < 80)& (city_weather_df["Cloud Coverage (%)"] == 0),:]
Refined_df.reset_index(inplace=True)
del Refined_df['index']
Refined_df

,City,Temperature (F),Humidity (%),Cloud Coverage (%),Wind Speed (mph),Latitude,Longitude
0,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03
1,Cockburn Town,79.90,79,0,17.09,21.46,-71.14
2,Lázaro Cárdenas,74.30,71,0,1.99,17.96,-102.20
3,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03
4,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03
5,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03
6,Garissa,77.56,79,0,9.40,-0.45,39.64
7,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03
8,Taoudenni,79.45,16,0,9.84,22.68,-3.98
9,Wagar,70.79,68,0,10.33,16.15,36.20
10,Beidao,73.69,12,0,3.51,34.57,105.89
11,Yumen,71.29,8,0,10.27,40.28,97.20
12,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03

In [23]:
hotel = []

for i in range(len(Refined_df)):
    lat = Refined_df.loc[i]['Latitude']
    lng = Refined_df.loc[i]['Longitude']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": api_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotel.append(jsn['results'][0]['name'])
    except:
        hotel.append("")
        
Refined_df["Hotel Name"] = hotel
Refined_df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Temperature (F),Humidity (%),Cloud Coverage (%),Wind Speed (mph),Latitude,Longitude,Hotel Name
0,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03,Cabo Frio
1,Cockburn Town,79.90,79,0,17.09,21.46,-71.14,Cockburn Town
2,Lázaro Cárdenas,74.30,71,0,1.99,17.96,-102.20,Lázaro Cárdenas
3,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03,Cabo Frio
4,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03,Cabo Frio
5,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03,Cabo Frio
6,Garissa,77.56,79,0,9.40,-0.45,39.64,Garissa
7,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03,Cabo Frio
8,Taoudenni,79.45,16,0,9.84,22.68,-3.98,Taoudenni
9,Wagar,70.79,68,0,10.33,16.15,36.20,Wagga
10,Beidao,73.69,12,0,3.51,34.57,105.89,Tianshui
11,Yumen,71.29,8,0,10.27,40.28,97.20,Jiuquan
12,Arraial do Cabo,75.11,75,0,9.93,-22.97,-42.03,Cabo Frio

In [28]:
humidity = city_weather_df["Humidity (%)"].astype(float)
maxhumidity = humidity.max()
locations = city_weather_df[["Latitude", "Longitude"]]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in Refined_df.iterrows()]
hotel_locations = Refined_df[["Latitude", "Longitude"]]
hotel_locations

    Latitude  Longitude
0     -22.97     -42.03
1      21.46     -71.14
2      17.96    -102.20
3     -22.97     -42.03
4     -22.97     -42.03
5     -22.97     -42.03
6      -0.45      39.64
7     -22.97     -42.03
8      22.68      -3.98
9      16.15      36.20
10     34.57     105.89
11     40.28      97.20
12    -22.97     -42.03

In [37]:
markers = gmaps.marker_layer(hotel_locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))